#
# Near Field Communication (NFC) devices
#

menuconfig HUAWEI_KERNEL_FELICA_DEVICES
	bool "Near Field Communication (NFC) devices"
	default n
	---help---
	  You'll have to say Y if your computer contains an NFC device that
	  you want to use under Linux.

	  You can say N here if you don't have any Near Field Communication
	  devices connected to your computer.

if HUAWEI_KERNEL_FELICA_DEVICES

config HUAWEI_FEATURE_FELICA_T6ND5
	tristate "T6ND5 FELICA driver"
	default n
	---help---
	  Say yes if you want T6ND5 Near Field Communication driver.
	  This is for i2c connected version. If unsure, say N here.

	  To compile this driver as a module, choose m here. The module will
	  be called t6nd5.


endif # HUAWEI_KERNEL_FELICA_DEVICES
